requests
requests[socks] 
python-telegram-bot 
bs4 
user_agent 
ping3  
tcping 
pyping 
youtube_dl 
requests_toolbelt 
telethon 
tenacity
pyrogram
tgcrypto
aiohttp
yarl
aiohttp_socks==0.7.1
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1